* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lexend deca";
}
body {
  min-height: 100vh;
  background: #eeeeee;
}

.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
.header_content_subtitle{
    color: #A50438;
    font-size: 20px;
    margin-bottom: -10px;
}
.header_content_title{
    font-family: "Saira";
    font-weight: 600;
    color: #A50438;
    font-size: 70px;

}

.main_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.main_content_form{
    background: #A50438;
    padding: 50px 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_content_form p{
    font-size: 40px;
    font-weight: 600;
    color: #eeeeee;
    text-shadow: 0px 0px 10px #EC135A;
}
.main_content_form form{
    margin-top: 100px;
}
.main_content_form form select, .main_content_form form button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #EC135A;
    background-color: #eeeeee;
    color: #A50438;
    font-size: 15px;
}
.main_content_form form button{
    width: 100px;
}
.main_content_form form button:hover{
    background-color: #eeeeee;
}
